*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    
    background-image: url('images/seach2.avif');
  
    background-size: cover;
    /* background-color: silver; */
}
.nav{
    background-color: rgb(33, 32, 32);
    height: 60px;
    
  
   
}
.nav ul{
    display: flex;
    justify-content: space-evenly ;
    list-style-type: none;
    margin-top: 0px;
}
.nav ul li a {
    text-decoration: none;
    align-items: center;
    position: absolute;
    top: 20px;
    margin-left: -100px;
    color: tomato;
    font-size: 19px;
    
}
.nav ul li a:hover{
   color: white;
   font-weight: bolder;
}

.logo{
    height: 60px;
    width: 80px;
    margin-left: -120px;
}
.nav button{
    margin-top: -10px;
    height: 45px;
    width: 160px;
    /* background: linear-gradient(to right, #ff5733, #f5af19); */
    background-color: rgb(33, 32, 32);
    color: red;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
   margin-left: 35px;
}
.nav button:hover {
    color: white;
    background: linear-gradient(to right, #ff5733, purple);
}
/* #show{
    display: none;
} */
label{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
}
input{
    border: 2px solid black;
    width: 50%;
    
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}
table {
   
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: 2px solid black;
    
}
table tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
table th {
    background-color: yellow;
    color: black;
    text-align: left;
}
table th,
table td {
    padding: 12px 15px;
}
#btn1{
    height: 40px;
    width: 80px;
    margin-left: 200px;
    background: linear-gradient(to right, #ff5733, black);
    color: greenyellow;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
}
#btn1:hover{
   
        background: linear-gradient(to right, #ff5733, purple);
        color: white;
    
}
/* #search img{
    height: 100px;
    width: 180px;
    margin-left: 263px;
    margin-top: -450px;
    position: fixed;
} */